<h1>About</h1>
<p> I am the rasta pickney
<a href="http://janeillecalnick.com"> Janeille Calnick </a>

This app was built by Janeille Calnick 

<%= link_to " Ruby on Rails class on Skillshare","http://www.janeillecalnick.com" %>.
</p>
